<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>General</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Automatically negociate client config</string>
			<key>Key</key>
			<string>general.autoNegociate</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Main</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Use the server&apos;s minimum period</string>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>network.periodIsDebugServer</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Number of points for average</string>
			<key>Key</key>
			<string>network.maxPointsAverage</string>
			<key>MinimumValue</key>
			<integer>1</integer>
			<key>MaximumValue</key>
			<integer>4294967295</integer>
			<key>DefaultValue</key>
			<integer>100</integer>
			<key>KeyboardType</key>
			<string>NumberPad</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Period (ms)</string>
			<key>Key</key>
			<string>network.period</string>
			<key>MaximumValue</key>
			<integer>1000</integer>
			<key>MinimumValue</key>
			<integer>1</integer>
			<key>DefaultValue</key>
			<integer>200</integer>
			<key>KeyboardType</key>
			<string>NumberPad</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Max level</string>
			<key>Key</key>
			<string>network.maxLevel</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Titles</key>
			<array>
				<string>Trace</string>
				<string>Debug</string>
				<string>Info</string>
				<string>Warning</string>
				<string>Error</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Recording</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Start enabled</string>
			<key>Key</key>
			<string>network.enableRecording</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Use the server&apos;s maximum number of rows</string>
			<key>Key</key>
			<string>network.rowsIsDebugServer</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Rows</string>
			<key>Key</key>
			<string>network.rows</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>MinimumValue</key>
			<integer>0</integer>
			<key>MaximumValue</key>
			<integer>4294967295</integer>
			<key>KeyboardType</key>
			<string>NumberPad</string>
		</dict>
	</array>
</dict>
</plist>
